.bmi-btn-container {
  max-width: 300px;
  display: flex;
}

#bmiStandard,
#bmiMetric {
  border-radius: 8px 8px 0 0;
  padding: 3px 9px;
  margin-right: 5px;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.activeBtn {
  padding: 6px 9px;
  background-color: rgb(104, 219, 133);
}

.bmi-main {
  min-width: 400px;
  background-color: rgb(104, 219, 133);
  border-radius: 10px;
  padding: 15px;
  font-size: 1.3rem;
}

input {
  width: 120px;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.bmi-ans {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmi-ans > input {
  cursor: pointer;
}

.error-bmi {
  background-color: rgb(155, 37, 37);
  width: 100%;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  margin: 2px auto auto auto;
  padding: 2px;
  display: none;
}

.display-show {
  display: block;
}

.display-invi {
  display: none;
}

.bmiCategories {
  background-color: #fff;
  margin: 15px 0 0 0;
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
  border: rgb(104, 219, 133) double 3px;
}

.bmiCategories > h2 {
  margin: 3px 0 0 0;
}

.bmiCategories > ul {
  margin: 3px 0 0 0;
  font-size: 1.2rem;
}
