*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #3d3535;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#output {
  height: 100px;
  width: 240px;
  border: solid 0.5px #3d3535;
  background-color: #fff;
  text-align: end;
}

.display-proc-container {
  position: relative;
  /* margin-right: 5px; */
  transform: rotateX(180deg);
  max-width: 240px;
  overflow-y: auto;
  scrollbar-width: thin;
}

#display-proc {
  display: inline-block;
  opacity: 0.6;
  margin: 2px 5px;
  transform: rotateX(180deg);
  white-space: nowrap;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

#display-ans {
  margin: 0 5px;
  font-size: 1.5rem;
  word-wrap: break-word;
}

#btn-container {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(5, 60px);
}

#btn-container > button {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  border: solid 0.5px #3d3535;
  background-color: aliceblue;
  cursor: pointer;
}

#btn-container > button[data-all-clear] {
  background-color: #fdd0c4;
}

#btn-container > button[data-delete] {
  background-color: #f9fdc4;
}

#btn-container > button[data-operation] {
  background-color: #c4fdd2;
}

#btn-container > button[data-equal] {
  background-color: #c4fdfa;
}

/* #btn-container > button[data-navigation] {
  background-color: #ebc4fd;
} */

#btn-container > .clicked-clear {
  background-color: #fca48c !important;
}

#btn-container > .clicked-del {
  background-color: #f0f878 !important;
}

#btn-container > .clicked-reg {
  background-color: rgb(109, 183, 248) !important;
}

#btn-container > .clicked-equal {
  background-color: #77f5ef !important;
}

#btn-container > .clicked-operation {
  background-color: #6af58d !important;
}

/* #btn-container > .clicked-navigate {
  background-color: #ce6efa !important;
} */

.inProgress {
  text-align: center;
  color: #fff;
  margin: 10px 0 0 0;
  opacity: 0.7;
}
