.bmi-btn-container {
  max-width: 300px;
  display: flex;
}

#bmiStandard,
#bmiMetric {
  border-radius: 8px 8px 0 0;
  padding: 3px 15px;
  margin-right: 5px;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  height: 40px;
  transition: background-color 300ms ease;
}

.activeBtn {
  padding: 6px 9px;
  background-color: rgb(104, 219, 133);
}

.bmi-main {
  max-width: 480px;
  width: 100%;
  background-color: rgb(104, 219, 133);
  border-radius: 0 10px 10px 10px;
  padding: 15px;
  font-size: 1.3rem;
}

.bmiinput {
  max-width: 150px;
  margin-bottom: 8px;
  font-size: 1.3rem;
  border: none;
  transition: background-color 250ms ease-in;
  border-radius: 5px;
  margin-left: 5px;
}

.bmiinput:focus {
  background-color: rgb(228, 228, 228);
  outline: none;
}

.bmiinput-submit {
  width: 120px;
  margin-bottom: 8px;
  padding: 3px 0;
  font-size: 1.3rem;
  border: none;
  background-color: rgb(33, 236, 50);
  border-radius: 5px;
  transition: background-color 250ms ease-in;
}

.bmiinput-submit:hover {
  background-color: rgb(32, 218, 47);
}

.bmi-ans {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bmi-ans > input {
  cursor: pointer;
}

.bmi-inputContainer-label {
  display: flex;
}

.bmi-inputContainer {
  display: flex;
  width: fit-content;
  transition: flex 250ms ease-in-out;
}

.error-bmi {
  background-color: rgb(155, 37, 37);
  width: 100%;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  margin: 2px auto auto auto;
  padding: 2px;
  display: none;
}

.display-show {
  display: block;
}

.display-invi {
  display: none;
}

.bmi-info-container {
  margin: -30px 30px 0 40px;
  text-indent: 6%;
  line-height: 1.9rem;
}

@media screen and (max-width: 900px) {
  .bmi-info-container {
    margin: -30px 0 0 0;
  }
}

@media screen and (max-width: 500px) {
  .bmi-main {
    padding: 15px;
  }
  .bmi-inputContainer {
    flex: 3;
    flex-direction: column;
  }
  .bmi-container {
    width: 100%;
  }
  .bmiinput {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .bmi-inputContainer-label {
    flex-direction: column;
  }
  .bmiinput {
    margin-left: 0;
  }
}
