/* Global Css */
:root {
  --blue-color: #3077a1;
  --blue-hover-color: #388bba;
  --success-color: #26b529;
  --success-hover-color: #29c72b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  min-width: 320px;
  color: #fff;
}

html {
  background-color: #222;
}

header {
  padding: 20px 30px;
  max-width: 1400px;
  margin: 0 auto;
}

main {
  padding: 0 50px;
  max-width: 1400px;
  margin: 0 auto;
}

/* header part */
.main-headings-container {
  display: flex;
}

.main-headings {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  align-self: center;
}

.main-headings-img-container {
  max-width: 80px;
}

.main-headings-img {
  width: 100%;
}

/* toggle dark/light mode */
.toggle-mode {
  padding-right: 20px;
  width: 100%;
  display: flex;
}

.toggle-mode-container {
  display: flex;
  margin: 0 0 0 auto;
  position: relative;
}

.toggle-mode-button {
  cursor: pointer;
  margin: 0;
  appearance: none;
  border-radius: 999px;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  background: none;
  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-mode-img {
  position: absolute;
  right: 0;
  width: 100%;
  visibility: visible;
}

.toggle-mode-img-hidden {
  visibility: hidden;
}

.toggle-mode-img-hidden {
  visibility: hidden;
}

.sun {
  color: #222;
  transition: color 200ms ease-in-out;
}

.moon {
  color: #fff;
  transition: color 200ms ease-in-out;
}

/* global  */
.cont-info-seperator {
  display: flex;
}

.sub-headings {
  color: #b5c6da;
  font-size: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin: 0 0 10px 0;

  transition: color 200ms ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  justify-self: center;
  margin: 0 0 50px 30px;
}

.calculator-p {
  font-size: 1.255rem;
}

.calculator-p-list {
  text-indent: 0;
  font-size: 1.255rem;
}

.calculator-p-link {
  color: rgb(187, 233, 255);
  transition: color 200ms ease-in-out;
}

.calculator-p-link:hover {
  color: rgb(100, 233, 255);
}

.calculator-p-link-sun {
  color: rgb(169 39 153);
  transition: color 200ms ease-in-out;
}

.calculator-p-link-sun:hover {
  color: rgb(126, 27, 114);
}

@media screen and (max-width: 1150px) {
  .calculator-p {
    font-size: 1rem;
  }

  .calculator-p-list {
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .cont-info-seperator {
    flex-direction: column;
  }
}

@media screen and (max-width: 580px) {
  header {
    padding: 15px 20px 0 20px;
  }
  main {
    padding: 0 30px;
  }
  .main-headings {
    font-size: 2.5rem;
  }
  .main-headings-img-container {
    max-width: 60px;
  }
  .sub-headings {
    font-size: 1.5rem;
  }
  .container {
    margin: 0 0 50px 0;
  }
  .toggle-mode-button {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .main-headings-img-container {
    max-width: 50px;
  }
  .toggle-mode-button {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 380px) {
  .main-headings-img-container {
    max-width: 40px;
  }
  .toggle-mode-button {
    width: 40px;
    height: 40px;
  }
  .main-headings {
    font-size: 2rem;
  }
}
